<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">

<head>
<title tiles:fragment="title">Đăng nhập</title>
</head>

<body>
	<div class="container" tiles:fragment="container">
		<form class="form-signin">
			<h2 class="form-signin-heading">Đăng nhập</h2>
			<label for="userName" class="sr-only">Tên đăng nhập</label> <input
				type="text" id="userName" class="form-control"
				placeholder="Tên đăng nhập" required="required"
				autofocus="autofocus" /> <label for="inputPassword" class="sr-only">Mật
				khẩu</label> <input type="password" id="inputPassword" class="form-control"
				placeholder="Mật khẩu" required="required" />
			<div class="checkbox">
				<label> <input type="checkbox" value="remember-me" /> <span>Ghi
						nhớ</span>
				</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Đăng
				nhập</button>
		</form>
	</div>
</body>

</html>